.container{
    display: flex;
    gap: 100px;
}
.textContainer{
    flex:1;
    display: flex;
    flex-direction: column;
    gap: 50px;
}
.title{
    font-size: 40px;
}
.subtitle{
    color: var(--labcolor);
}
.desc{
    font-size: 20px;
    font-weight: 400;
}
.imgabout{
    max-width: 1200px;
    border-radius: 20px;
    object-fit:cover;
    box-shadow: 0.1rem 0.1rem 0.5rem gray;
}
.imgContainer{
    flex: 1;
    position: relative;
}
.boxes{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.box{
    display: flex;
    flex-direction: column;
    gap: 10px;
}
.box h1{
    color: var(--labcolor);
}
@media (max-width: 1024px) {
    .container {
      flex-direction: column;
      text-align:center;
    }
  }
  
  @media (max-width: 768px) {
    .title {
      font-size: 40px;
    }
    .boxes{
        flex-direction: column;
        gap: 30px;
    }
    .subtitle{
        padding-top: 20px;
    }
  }