.container{
    display: flex;
    gap: 100px;
    align-items: center;
    padding-top: 10px;
}
.formcontainer{
    font: 1em sans-serif;
    align-items: center;
    display: flex;
    flex: 1;
    flex-direction: column;
    gap: 20px;
}
.texto{
    width: 100%;
    flex: 1;
    display: flex;
    flex-direction: column;
    gap: 30px;
    text-align: center;
}
.title{
    font-size: 30px;
    flex: 1;
    font-weight: bold;
}
.desc{
    font-size: 20px;
    font-weight: 300;
    flex: 1;
}
.form{
    display: flex;
    flex-direction: column;
    gap: 20px;
}
.form input, 
.form textarea{
    padding: 20px;
    border-radius: 5px;
    border: 1px black;
    outline: 1px black ;
    background-color: #f4f4f5;
    color: var(black);
    font-family: Arial, Helvetica, sans-serif;
}
.form button{
    padding: 20px;
    background-color: var(--labcolor);
    color: var(--bg);
    font-weight: bold;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}