.container{
    display: flex;
    gap: 100px;
}
.textbox{
    flex: 1;
    display: flex;
    flex-direction: column;
    gap: 50px;
}
.title {
    font-size: 50px;
}
.desc{
    font-size: 20px;
}
.buttons{
    display: flex;
    gap: 20px;
}
.button{
    padding: 20px;
    cursor: pointer;
    min-width: 120px;
    border: none;
    border-radius: 5px;
    font-weight: bold;
}
.button:first-child{
    background: linear-gradient(90deg, var(--labcolor) 0%, rgba(0,212,255,1) 100%);
    color: white;
}
.brands{
    width: 600px;
    height: 60px;
    position: relative;
    filter: grayscale(1);
}
.imgcontainer{
    flex: 1;
    position: relative;
}
.heroImg{
    border-radius: 20px;
    box-shadow: 0.1rem 0.1rem 0.5rem gray;
    object-fit:cover;
}
@media (max-width: 1024px) {
    .container {
      flex-direction: column;
      text-align:center;
    }
  
    .buttons{
      justify-content: center;
    }
  }
  
  @media (max-width: 768px) {
    .title {
      font-size: 64px;
    }
    .brands{
      width: 100%;
      height: 40px;
    }
  }


  